{{define "title"}}Attempt{{end}}

{{define "main"}}
<div class="flex-col attempt" id="quiz">
	<div class="flex-col">
		{{$attempt := .Data.Attempt}}
		{{$quiz := $attempt.Quiz}}

		<div id="quiz-title" class="flex-row">
			{{$href := printf "/quizzes/%d" $quiz.ID}}
			<h1>Attempt - <a href="{{$href}}">{{$quiz.Title}}</a></h1>
			{{if $quiz.Editable}}
			<a href="/quizzes/{{ $quiz.ID }}/edit">Edit</a>
			{{end}}
		</div>
		<h2>Score: {{$attempt.PointsEarned}} / {{$quiz.PointsCount}}</h2>
		{{if $attempt.Created}}
		<span title="{{humanDate $attempt.Created}}">Attempted {{timeAgo $attempt.Created}}</span>
		{{end}}
		<span>Created by <a href="/profile/{{ $quiz.Profile.ID }}">{{ $quiz.Profile.FirstName }} {{ $quiz.Profile.LastName
				}}</a></span>
		{{if $quiz.Published}}
		<span title="{{humanDate $quiz.Published}}">Published {{timeAgo $quiz.Published}}</span>
		{{end}}
	</div>

	<div class="flex-col quiz-form">
		{{template "csrf-token" .CSRFToken}}
		<input type="hidden" name="quiz" value={{$quiz.ID}} />
		<ol class="flex-col questions">
			{{range $quiz.Questions}}
			<li>
				{{$question := .}}
				{{$selectedAnswer := (index $attempt.Answers $question.ID)}}
				{{$isCorrect := .IsCorrect (index $attempt.Answers $question.ID)}}
				{{$correctContent := ""}}

				<div class="flex-row question">
					<span>{{.Content}}</span>
					<strong class="points">{{if $isCorrect}}{{.Points}}{{else}}0{{end}}/{{.Points}}
						points</strong>
				</div>

				<div class="answers">
					{{range $i, $answer := .Answers}}
					<div class="answer flex-row">
						{{$isSelected := eq $selectedAnswer $answer.ID}}
						{{$id := printf "question_%d_%d" $question.ID $i }}
						{{if $question.IsCorrect $answer.ID}}
						{{$correctContent = $answer.Content}}
						{{end}}

						<div class="correctness-icon">
							{{if $isSelected}}
							{{if $isCorrect}}
							{{template "correct" .}}
							{{else}}
							{{template "incorrect" .}}
							{{end}}
							{{end}}
						</div>

						<input type="radio" id="{{$id}}" name="question[{{$question.ID}}][answer]" value="{{$answer.ID}}" disabled
							{{if $isSelected}}checked{{end}} />
						<label for="{{$id}}">{{$answer.Content}}</span>
					</div>
					{{end}}
				</div>

				{{if not $isCorrect}}
				<span>Correct: {{$correctContent}}</span>
				{{end}}
			</li>
			{{end}}
		</ol>
	</div>
</div>
{{end}}
