{{define "title"}}Create Quiz{{end}}

{{define "main"}}
<h1>Create</h1>
<form action="/create" method="post" class="flex-col">
	{{template "csrf-token" .CSRFToken}}
	<label for="notes">Paste your notes here:</label>
	<textarea id="notes" name="notes" rows="20" {{template "input-ranges" .RangeRules.notes}}></textarea>
	{{template "error" .Form.FieldErrors.notes}}
	<button type="submit">Submit</button>
</form>
{{end}}
