{{define "title"}}Edit{{end}}

{{define "main"}}
{{$quiz := .Data.Quiz}}
{{$form := .Form}}
<div class="flex-col" id="quiz">
	<form method="post" class="flex-col">
		{{template "csrf-token" .CSRFToken}}
		<div class="flex-row edit-input">
			<label for="title">Title: </label>
			<input type="text" name="title" id="title" value="{{$quiz.Title}}" {{template "input-ranges"
				.RangeRules.title}} />
		</div>
		<div class="flex-row edit-input">
			<label for="description">Description: </label>
			<textarea name="description" id="description" rows="7" cols="100" maxlength="1024" {{template "input-ranges"
				.RangeRules.description}}>{{$quiz.Description}}</textarea>
		</div>
		<div>
			<span>Questions</span>
			<ol class="flex-col questions">
				{{range $quiz.Questions}}
				<li>
					{{$questionID := .ID}}
					{{$name := printf "question[%v][content]" $questionID}}
					<input type="text" name="{{$name}}" value="{{.Content}}" />
					{{template "error" index $form.FieldErrors $name}}
					<table class="answers">
						<thead>
							<tr>
								<th>Correct</th>
								<th>Answer</th>
							</tr>
						</thead>
						<tbody class="answers">
							{{range $i, $answer := .Answers}}
							<tr>
								<td>
									{{$id := printf "question_%d_%d" $questionID $i }}
									<input type="radio" id="{{ $id }}" name="question[{{ $questionID }}][correct]"
										value="{{ $answer.ID }}" required {{if .Correct}}checked{{end}} />
								</td>
								<td>
									{{$name := printf "answer[%v][content]" $answer.ID}}
									<input type="text" name="{{$name}}" value="{{$answer.Content}}" />
									{{template "error" index $form.FieldErrors $name}}
								</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</li>
				{{end}}
			</ol>
		</div>
		<div>
			<button id="save" type="submit">Save</button>
			<button id="save" type="submit">Save & Publish</button>
		</div>
	</form>
</div>
{{end}}
