{{define "title"}}Edit{{end}}

{{define "main"}}
{{$quiz := .Data.Quiz}}
{{$form := .Form}}
{{$rangeRules := .RangeRules}}
<div class="flex-col" id="quiz">
	<form method="post" class="flex-col">
		{{template "csrf-token" .CSRFToken}}
		<div class="flex-row edit-input">
			<label for="title">Title: </label>
			<div class="flex-col">
				<input type="text" name="title" id="title" value="{{$quiz.Title}}" {{template "input-ranges"
					.RangeRules.title}} />
				{{template "error" $form.FieldErrors.title}}
			</div>
		</div>
		<div class="flex-row edit-input">
			<label for="description">Description: </label>
			<div class="flex-col">

				<textarea name="description" id="description" rows="7" cols="100" maxlength="1024" {{template "input-ranges"
					.RangeRules.description}}>{{$quiz.Description}}</textarea>
				{{template "error" $form.FieldErrors.description}}
			</div>
		</div>
		<div>
			<span>Questions</span>
			<ol class="flex-col questions">
				{{range $quiz.Questions}}
				{{$questionID := .ID}}
				<li>
					{{$name := printf "question[%v][content]" $questionID}}
					<div class="flex-col edit-input">
						<input type="text" name="{{$name}}" value="{{.Content}}" {{template "input-ranges" $rangeRules.question}} />
						{{template "error" index $form.FieldErrors $name}}
					</div>
					{{$name := printf "question[%v][points]" $questionID}}
					<div class="flex-col edit-input">
						<input type="number" name="{{$name}}" value="{{.Points}}" required min="1" />
					</div>
					<table class="answers">
						<thead>
							<tr>
								<th>Correct</th>
								<th>Answer</th>
							</tr>
						</thead>
						<tbody class="answers">
							{{range $i, $answer := .Answers}}
							<tr>
								<td>
									<input type="radio" name="question[{{ $questionID }}][correct]" value="{{ $answer.ID }}" required {{if
										.Correct}}checked{{end}} />
								</td>
								<td>
									{{$name := printf "answer[%v][question]" $answer.ID}}
									<input type="hidden" name="{{$name}}" value="{{$questionID}}" />
									{{$name := printf "answer[%v][content]" $answer.ID}}
									<input type="text" name="{{$name}}" value="{{$answer.Content}}" {{template "input-ranges"
										$rangeRules.answer}} />
									{{template "error" index $form.FieldErrors $name}}
								</td>
							</tr>
							{{end}}
						</tbody>
					</table>
				</li>
				{{end}}
			</ol>
		</div>
		<div>
			<button id="save" type="submit">Save</button>
			<button id="save" type="submit">Save & Publish</button>
		</div>
	</form>
</div>
{{end}}
