{{define "title"}}Log In{{end}}

{{define "main"}}
<form class="auth-form center" action="/login" method="post">
	{{template "csrf-token" .CSRFToken}}
	<div class="flex-col auth-form-body">
		<h1>Log In</h1>
		<div class="flex-col auth-input">
			<input id="email" type="email" name="email" placeholder="Email" title="Email" {{template "input-ranges"
				.RangeRules.email}} value="{{ .Form.Email }}" autocomplete="email">
			{{template "error" .Form.FieldErrors.email}}
		</div>

		<div class="flex-col auth-input">
			<input id="password" type="password" name="password" placeholder="Password" title="Password"
				{{template "input-ranges" .RangeRules.password}} autocomplete="current-password">
			{{template "error" .Form.FieldErrors.password}}
		</div>

		{{range .Form.NonFieldErrors}}
		{{template "error" .}}
		{{end}}

		<button type="submit">Log In</button>
		<span>Don't have an account? <a href="/signup">Sign Up</a></span>
	</div>
</form>
{{end}}
