{{define "title"}}Profile{{end}}

{{define "main"}}
<div class="my-profile flex-col">
	<h1>My Profile</h1>

	<div class="my-profile-container container">
		<h2>Information</h2>
		<form method="post" class="flex-col profile-form">
			{{template "csrf-token" .CSRFToken}}
			<div class="flex-col">
				<div class="flex-col profile-input">
					<label for="first-name">First Name</label>
					<input id="first-name" type="text" name="first-name" placeholder="First Name" title="First Name"
						value="{{.Form.FirstName}}" {{template "input-ranges" .RangeRules.firstName}} autocomplete="given-name" />
				</div>
				{{template "error" .Form.FieldErrors.firstName}}
			</div>
			<div class="flex-col">
				<div class="flex-col profile-input">
					<label for="last-name">Last Name</label>
					<input id="last-name" type="text" name="last-name" placeholder="Last Name" title="Last Name"
						value="{{.Form.LastName}}" {{template "input-ranges" .RangeRules.lastName}} autocomplete="family-name" />
				</div>
				{{template "error" .Form.FieldErrors.lastName}}
			</div>
			<button type="submit">Update</button>
		</form>
	</div>

	<div class="my-profile-container container quizzes flex-col">
		<h2>Your Quizzes</h2>
		<div class="radios flex-row">
			<input id="published" type="radio" name="status" checked />
			<label for="published">Published</label>
			<input id="unpublished" type="radio" name="status" />
			<label for="unpublished">Unpublished</label>
		</div>
		<div id="published-list" class="hidden">
			{{if gt (len .Data.Published) 0}}
			{{template "quiz-list" .Data.Published}}
			{{else}}
			<em>You have no published quizzes.</em>
			{{end}}
		</div>
		<div id="unpublished-list" class="hidden">
			{{if gt (len .Data.Unpublished) 0}}
			{{template "quiz-list" .Data.Unpublished}}
			{{else}}
			<em>You have no unpublished quizzes.</em>
			{{end}}
		</div>
	</div>
</div>
{{end}}
