{{define "title"}}Profile{{end}}

{{define "main"}}
<h1>Profile</h1>
<h2>Your Quizzes</h2>
<div>
	<label for="published">Published</label>
	<input id="published" type="radio" name="status" checked />
	<label for="unpublished">Unpublished</label>
	<input id="unpublished" type="radio" name="status" />
</div>
<div id="published-list" class="hidden">
	{{if gt (len .Data.Published) 0}}
	{{template "quiz-list" .Data.Published}}
	{{else}}
	<em>You have no published quizzes.</em>
	{{end}}
</div>
<div id="unpublished-list" class="hidden">
	{{if gt (len .Data.Unpublished) 0}}
	{{template "quiz-list" .Data.Unpublished}}
	{{else}}
	<em>You have no unpublished quizzes.</em>
	{{end}}
</div>
{{end}}
