{{define "title"}}Quizzes{{end}}

{{define "main"}}
<div class="flex-col" id="quiz">
	<div class="flex-col">
		{{$quiz := .Data.Quiz}}
		{{$profileID := .Data.ProfileID}}
		<div id="quiz-title" class="flex-row">
			<h1>{{$quiz.Title}}</h1>
			{{if $quiz.Editable}}
			<a href="/quizzes/{{$quiz.ID}}/edit">Edit</a>
			{{end}}
			{{if and (eq $profileID $quiz.Profile.ID) ($quiz.Published)}}
			<form method="post" action="/quizzes/{{$quiz.ID}}/unpublish">
				{{template "csrf-token" .CSRFToken}}
				<button type="submit">Unpublish</button>
			</form>
			{{end}}
		</div>
		<span>{{$quiz.PointsCount}} {{pluralize "point" $quiz.PointsCount}}</span>
		<span>Created by <a href="/profile/{{ $quiz.Profile.ID }}">{{ $quiz.Profile.FirstName }} {{ $quiz.Profile.LastName
				}}</a></span>
		{{if $quiz.Published}}
		<span title="{{humanDate $quiz.Published}}">Published {{timeAgo $quiz.Published}}</span>
		{{end}}
		{{if len .Data.Attempts}}
		<details class="attempts">
			<summary>Attempts</summary>
			<table>
				<thead>
					<tr>
						<th>Attempt</th>
						<th>Score</th>
						<th>Time Ago</th>
					</tr>
				</thead>
				<tbody>
					{{range .Data.Attempts}}
					<tr>
						{{$href := printf "%d/attempt/%d" $quiz.ID .ID}}
						<td><a href="{{$href}}">Attempt {{.Sequence}}</a></td>
						<td>{{.PointsEarned}} / {{$quiz.PointsCount}}</td>
						<td><span title="{{humanDate .Created}}">{{timeAgo .Created}}</span></td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</details>
		{{end}}
	</div>
	<form class="flex-col quiz-form" method="post">
		{{template "csrf-token" .CSRFToken}}
		<input type="hidden" name="quiz" value={{$quiz.ID}} />
		<ol class="flex-col questions">
			{{range $quiz.Questions}}
			<li>
				<div class="flex-row question">
					<span>{{.Content}}</span>
					<em>{{.Points}} {{pluralize "point" .Points}}</em>
				</div>
				<div class="answers">
					{{$questionID := .ID}}

					{{range $i, $answer := .Answers}}
					<div>
						{{$id := printf "question_%d_%d" $questionID $i }}
						<input type="radio" id="{{$id}}" name="question[{{$questionID}}][answer]" value="{{$answer.ID}}" required />
						<label for="{{$id}}">{{$answer.Content}}</span>
					</div>
					{{end}}

				</div>
			</li>
			{{end}}
		</ol>

		<button type="submit">Submit</button>
	</form>
</div>
{{end}}
