{{define "title"}}Quizzes{{end}}

{{define "main"}}
<h1>Quizzes</h1>
<div class="quiz-list flex-col">
	{{ range .QuizList }}
	<a href="/quizzes/{{ .ID }}" class="quiz-option flex-col">
		<h2>{{ .Title }}</h2>
		<span>{{ .Description }}</span>
		<span>Created by {{ .Profile.FirstName }} {{ .Profile.LastName }}</span>
		<span>{{ .QuestionCount }} questions</span>
		<span>Published {{ .Published }}</span>
	</a>
	{{end}}
</div>
{{end}}
