{{define "title"}}Sign Up{{end}}

{{define "main"}}
<form action="/signup" method="post">
	<input type="hidden" name="formName" value="signup" />
	<h1>Sign Up</h1>
	<div class="auth-form">
		<div class="auth-input">
			{{ $rule := .RangeRules.firstName }}
			<input id="first-name" type="text" name="first-name" placeholder="First Name" title="First Name" {{ if gt
				$rule.MinLength 1 }}minlength="{{ $rule.MinLength }}" {{ end }} {{ if gt $rule.MaxLength 0
				}}maxlength="{{ $rule.MaxLength }}" {{ end }} {{ if gt $rule.MinLength 0 }}required{{ end }}>
			{{with .Form.FieldErrors.firstName}}
			<label class='error'>{{.}}</label>
			{{end}}
		</div>
		{{ $rule := .RangeRules.lastName }}
		<div class="auth-input">
			<input id="last-name" type="text" name="last-name" placeholder="Last Name" title="Last Name" {{ if gt
				$rule.MinLength 1 }}minlength="{{ $rule.MinLength }}" {{ end }} {{ if gt $rule.MaxLength 0
				}}maxlength="{{ $rule.MaxLength }}" {{ end }} {{ if gt $rule.MinLength 0 }}required{{ end }}>
			{{with .Form.FieldErrors.lastName}}
			<label class='error'>{{.}}</label>
			{{end}}
		</div>
		{{ $rule := .RangeRules.email }}
		<div class="auth-input">
			<input id="email" type="email" name="email" placeholder="Email" title="Email" {{ if gt $rule.MinLength 1
				}}minlength="{{ $rule.MinLength }}" {{ end }} {{ if gt $rule.MaxLength 0 }}maxlength="{{ $rule.MaxLength }}" {{
				end }} {{ if gt $rule.MinLength 0 }}required{{ end }}>
			{{with .Form.FieldErrors.email}}
			<label class='error'>{{.}}</label>
			{{end}}
		</div>
		{{ $rule := .RangeRules.password }}
		<div class="auth-input">
			<input id="password" type="password" name="password" placeholder="Password" title="Password" {{ if gt
				$rule.MinLength 1 }}minlength="{{ $rule.MinLength }}" {{ end }} {{ if gt $rule.MaxLength 0
				}}maxlength="{{ $rule.MaxLength }}" {{ end }} {{ if gt $rule.MinLength 0 }}required{{ end }}>

			{{with .Form.FieldErrors.password}}
			<label class='error'>{{.}}</label>
			{{end}}
		</div>
	</div>
	<button type="submit">Sign Up</button>
</form>
{{end}}
