{{define "title"}}Sign Up{{end}}

{{define "main"}}
<form class="auth-form center" action="/signup" method="post">
	{{template "csrf-token" .CSRFToken}}
	<div class="flex-col auth-form-body container">
		<h1>Sign Up</h1>
		<div class="flex-col auth-input">
			<input id="first-name" type="text" name="first-name" placeholder="First Name" title="First Name"
				{{template "input-ranges" .RangeRules.firstName}} value="{{
				.Form.FirstName }}" autocomplete="given-name">
			{{template "error" .Form.FieldErrors.firstName}}
		</div>

		<div class="flex-col auth-input">
			<input id="last-name" type="text" name="last-name" placeholder="Last Name" title="Last Name"
				{{template "input-ranges" .RangeRules.lastName}} value="{{
				.Form.LastName }}" autocomplete="family-name">
			{{template "error" .Form.FieldErrors.lastName}}
		</div>

		<div class="flex-col auth-input">
			<input id="email" type="email" name="email" placeholder="Email" title="Email" {{template "input-ranges"
				.RangeRules.email}} value="{{ .Form.Email }}" autocomplete="email">
			{{template "error" .Form.FieldErrors.email}}
		</div>

		<div class="flex-col auth-input">
			<input id="password" type="password" name="password" placeholder="Password" title="Password"
				{{template "input-ranges" .RangeRules.password}} autocomplete="new-password">
		</div>

		{{ $rule := .RangeRules.password }}
		<div class="flex-col auth-input">
			<input id="password2" type="password" name="password2" placeholder="Confirm password" title="Password"
				{{template "input-ranges" .RangeRules.password}} autocomplete="new-password">
			{{template "error" .Form.FieldErrors.password}}
		</div>

		<button class="btn" type="submit">Sign Up</button>
		<span>Already have an account? <a href="/login">Log In</a></span>
	</div>

</form>
{{end}}
