{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
	<meta charset='utf-8'>
	<title>{{template "title" .}} - elenchus</title>
	<link rel='stylesheet' href='/static/css/main.css'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Lexend:wght@100..900&display=swap"
		rel="stylesheet">
	{{if .Script}}
	<script src="/static/js/{{.Script}}" defer></script>
	{{end}}
	{{if .Flash}}
	<script src="/static/js/flash.js" defer></script>
	{{end}}
</head>

<body>
	<header>
		<nav>
			<a href='/'>elenchus</a>
			<div class="nav-items">
				{{if .IsAuthenticated}}
				<a href='/create'>Create</a>
				{{end}}
				<a href='/quizzes'>Quizzes</a>
			</div>
			<div class="nav-items">
				{{if .IsAuthenticated}}
				<a href='/profile'>Profile</a>
				<form action='/logout' method='POST'>
					{{template "csrf-token" .CSRFToken}}
					<button type="submit">Logout</button>
				</form>
				{{else}}
				<a href='/login'>Login</a>
				<a href='/signup'>Sign Up</a>
				{{end}}
			</div>
		</nav>
	</header>
	<main>
		{{with .Flash}}
		{{template "flash" .}}
		{{end}}
		{{template "main" .}}
	</main>
	<footer>
		<div>© 2025 Tony Montemuro</div>
	</footer>
</body>

</html>
{{end}}
