:root {
	--body-height: 100vh;
	--nav-height: 4rem;
	--footer-height: 4rem;
	--app-padding: 0.75rem;
	--app-min-height: calc(var(--body-height) - var(--nav-height) - var(--footer-height));
	--app-fullscreen-height: calc(var(--app-min-height) - 2 * var(--app-padding));
	--app-color-primary: 249, 115, 22;
	--app-color-background: 27, 27, 27;
	--app-color-background-secondary: 40, 40, 40;
	--app-color-container: rgba(var(--app-color-background-secondary), 0.7);
	--app-color-text: 250, 249, 246;
	--app-color-success: 92, 184, 92;
	--app-color-error: 255, 0, 51;
	--app-color-input: 79, 79, 79;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	min-height: var(--body-height);
	font-family: "Hedvig Letters Serif", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--nav-height);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: rgb(var(--app-color-primary));
	padding: 0 var(--app-padding);
}

a {
	color: rgb(var(--app-color-primary));
}

a:visited {
	text-decoration: none;
}

nav a {
	color: rgb(var(--app-color-text));
	text-decoration: none;
}

nav button {
	background-color: transparent;
	padding: 0;
	border: none;
	color: rgb(var(--app-color-text));
}

main {
	min-height: var(--app-min-height);
	padding: var(--app-padding);
	background-color: rgb(var(--app-color-background));
	color: rgb(var(--app-color-text));
}

footer {
	display: flex;
	align-items: center;
	height: var(--footer-height);
	background-color: rgb(var(--app-color-primary));
	padding: 0 var(--app-padding);
	color: rgb(var(--app-color-text));
}

button {
	width: fit-content;
	background-color: rgb(var(--app-color-primary));
	color: rgb(var(--app-color-text));
	border: 1px solid transparent;
	border-radius: 0.25rem;
	padding: 0.5rem;
	transition-property: border-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
}

button:hover {
	cursor: pointer;
	border: 1px solid rgb(var(--app-color-text));
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

textarea:focus,
input:focus {
	outline: none;
}

input[type="radio"] {
	transform: scale(1.5);
	accent-color: rgb(var(--app-color-primary));
}

input[type="radio"]:hover:not(:disabled) {
	cursor: pointer;
}

input[type="radio"]:disabled:checked {
	opacity: 0.8;
	outline: 1px solid rgb(var(--app-color-primary));
	outline-offset: 1px;
}

em {
	font-style: italic;
}

summary {
	cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
	background-color: rgb(var(--app-color-input));
	padding: 0.25rem;
	border-radius: 0.25rem;
	color: rgb(var(--app-color-text));
}


label {
	cursor: inherit;
}

strong {
	font-weight: bolder;
}

.container {
	background-color: var(--app-color-container);
}

.create-form {
	gap: 0.75rem;
}

.nav-items {
	display: flex;
	gap: 1rem;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.auth-form {
	height: var(--app-fullscreen-height);
}

.auth-form-body {
	gap: 1rem;
	padding: 2rem;
	width: 26rem;
	height: 30rem;
	border-radius: 1rem;
}

.auth-form-body button {
	width: 100%;
	text-align: center;
}

.auth-input {
	gap: 0.25rem;
}

.error {
	color: red;
}

.quiz-list {
	gap: 0.5rem;
}

.quiz-option {
	border: 2px solid rgb(var(--app-color-text));
	border-radius: 0.25rem;
	padding: 0.4rem;
	justify-content: space-between;
}

.quiz-option a {
	text-decoration: none;
	color: inherit;
}

.quiz-option:hover {
	background-color: rgba(var(--app-color-text), 0.2);
}

.text-sm {
	font-size: 0.875rem;
	line-height: calc(1.25 / 0.875);
}

.quiz-info {
	width: 100%;
}

.quiz-edit {
	align-items: center;
	text-decoration: underline;
}

.quiz-form {
	gap: 0.5rem;
}

.questions {
	padding-left: 1rem;
	gap: 0.5rem;
	font-size: 1.25em;
}

.questions input[type="text"] {
	width: 100%;
}

.question {
	gap: 0.5rem;
}

.question em {
	opacity: 0.75;
}

.question .points {
	text-wrap: nowrap;
	text-decoration: underline;
}

.edit-answers {
	width: 100%;
	border-collapse: collapse;
}

.edit-answers thead {
	font-size: 0.6em;
}

.edit-answers tbody td:first-of-type {
	text-align: center;
	width: 0;
}

.edit-answers td,
.edit-answers th {
	padding: 0.125rem;
}

.edit-answers td:first-child,
.edit-answers th:first-child {
	padding-left: 0
}

.edit-answers td:last-child,
.edit-answers th:last-child {
	padding-right: 0;
}

.answer {
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}

#quiz {
	gap: 1rem;
}

.hidden {
	display: none;
}

#quiz-title {
	gap: 0.5rem;
	align-items: center;
}

.edit-input {
	gap: 0.25rem;
}

.correctness-icon {
	width: 24px;
	height: 24px;
}

.attempts tbody tr:nth-child(even),
.attempts thead tr {
	background-color: rgba(var(--app-color-background-secondary), 0.25);
}

.attempts tbody tr:nth-child(odd) {
	background-color: rgba(var(--app-color-background-secondary), 0.75);
}

.attempts th,
.attempts td {
	padding: 0.5rem;
}

.attempts th {
	text-align: left;
}

.attempts table {
	border-collapse: collapse;
}

.attempts th:first-of-type {
	border-top-left-radius: 0.5rem;
}

.attempts th:last-of-type {
	border-top-right-radius: 0.5rem;
}

.attempts tr:last-of-type td:first-of-type {
	border-bottom-left-radius: 0.5rem;
}

.attempts tr:last-of-type td:last-of-type {
	border-bottom-right-radius: 0.5rem;
}

.profile-form {
	gap: 0.5rem;
}

.profile-input {
	gap: 0.25rem;
	width: 26rem;
}

.flash {
	padding: 0.25rem 0.5rem;
	border: 1px solid rgba(var(--app-color-text), 0.6);
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.25rem;
}

.flash button {
	background: transparent;
	border-color: rgba(var(--app-color-text), 0.4);
	padding: 0;
}

.flash button svg {
	width: 24px;
	height: 24px;
	stroke: rgb(var(--app-color-text));
}

.flash-success {
	background-color: rgb(var(--app-color-success));
}

.flash-error {
	background-color: rgb(var(--app-color-error));
}

.transition-hover {
	transition: all .2s ease-in-out;
}

#logout:hover {
	border: none;
}

.my-profile {
	gap: 0.6rem;
}

.my-profile-container {
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.attempt .answer {
	cursor: default;
}

.answer .correct {
	stroke: rgb(var(--app-color-success));
}

.answer .incorrect {
	stroke: rgb(var(--app-color-error));
}

.edit-form {
	gap: 0.25rem;
	font-size: 1.25em;
}

.edit-questions {
	padding-left: 1rem;
	gap: 0.5rem;
}

.edit-questions input[type="text"] {
	width: 100%;
}

.text-xs {
	font-size: 0.6em;
}

.radios {
	gap: 0.5rem;
	cursor: pointer;
}

.my-profile-container.quizzes {
	gap: 0.25rem;
}

.home {
	height: var(--app-fullscreen-height);
	animation-duration: 0.75s;
	animation-name: float-in;
}

.home h1 {
	font-size: 5em;
}

.home-body {
	text-align: center;
	gap: 1.5rem;
}

.home-btns {
	gap: 0.5rem;
}

.a-btn {
	padding: 0.5rem;
	background-color: rgb(var(--app-color-primary));
	color: rgb(var(--app-color-text));
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition-property: border-color;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
	text-decoration: none;
}

.a-btn:hover {
	border: 1px solid rgb(var(--app-color-text));
}

.home-btn {
	gap: 0.25rem;
}

.home-icon {
	width: 24px;
	height: 24px;
}

@keyframes float-in {
	from {
		opacity: 0;
		transform: translateY(1%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}
