:root {
	--body-height: 100vh;
	--nav-height: 4rem;
	--footer-height: 4rem;
	--app-padding: 0.5rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	min-height: var(--body-height);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--nav-height);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: red;
	padding: 0 var(--app-padding);
}

main {
	min-height: calc(var(--body-height) - var(--nav-height) - var(--footer-height));
	padding: var(--app-padding);
}

footer {
	display: flex;
	align-items: center;
	height: var(--footer-height);
	background-color: blue;
	padding: 0 var(--app-padding);
}

.nav-items {
	display: flex;
	gap: 1rem;
}

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
